
/* carrucel 2 -------------------*/
/* Global */


.container {
  width: 100%;
  height: 500px;
  
  margin: 0;
  padding: 0;
  /* Font styles */
  font-family: 'Roboto Slab', serif;

  color: #607D8B;
  
}

.container {
  position: relative;
}

/* Panels */
.swipe {
  position: relative;
  width: 100%;
  height: 100%; /* "min-height" doesn't work on Firefox. */
  background:transparent;
  overflow-x: hidden;
}

.panel {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  
    background: white;
}

.left {
  left: -100%;
}

.right {
  left: 100%;
}

/* Info */
.info {
  position: absolute;
  width: 50%;
  max-width: 400px;
    height: 300px;
  bottom: 10%;
  right: 10%;
    font-size: 10px;
  pointer-events: none;
}

.inner {
    width: 100%;
  position: relative;
  padding: 10px;
  background: #FFFFFF;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.info:before {
  content: "";
  position: absolute;
  width: ;
  height: 300px;
  top: 0;
  left: 0;
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  -o-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
  background: #E91E63;
  background: #3F51B5;
}

.buttons {
  position: absolute;
  bottom: -80px;
  right: 0%;
  pointer-events: all;
}

.buttons button {
  transition: ease .4s;
}

.btn-prev,
.btn-next {
  width: 60px;
  height: 60px;
  margin-left: 10px;
  border: none;
  outline: none;
  border-radius: 60px;
  color: #FFFFFF;
  background: -webkit-linear-gradient(top, #053C96, #053C96);
  background: linear-gradient(to bottom, #053C96, #053C96);
  box-shadow: 0px 3px 15px 2px #9c9c9c;
  cursor: pointer;
}

.buttons button:hover {
  box-shadow: 0px 3px 30px 3px #9c9c9c;
}

.buttons button:disabled {
  box-shadow: 0px 1px 5px 0px #9c9c9c;
  background: -webkit-linear-gradient(top, #053C96, #053C96);
  background: linear-gradient(to bottom, #053C96, #053C96);
  cursor: default;
}

/* Optional content */
.optional {
  width: 80%;
  max-width: 680px;
  margin: 6em auto;
  padding: 2em 3em;
  text-align: center;
  box-shadow: 
    0 3px 12px rgba(0,0,0,0.16), 
    0 3px 12px rgba(0,0,0,0.23);
}

@media (max-width: 620px) {

  .info {
    position: absolute;
    width: 100%;
    max-width: 100%;
    bottom: 0;
    right: 0;
  }

  .inner {
    padding: .5em 1.5em;
    box-shadow: none;
  }
  
  .buttons {
    display: none;
  }
}