#contenedor-productos{
    margin: auto;
    min-width: auto;
    max-width: 90%;
    height: auto;
    float: left;
    align-items: center;
    justify-items: center;
}
#titulos-P{
    width: 80%;
    text-align: center;
    font-size: 30px;
    padding: 0px;
    padding-left: 20px;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 10px;
   font-family: "Bold";
    color: white;
}
#item-producto{
    width: 200px;
    height: 300px;
    margin: 5px;
    margin-left: .7%;
    margin-right: .7%;
    float: left;
background-color: white;

}
#item-producto img{
    height: 200px;
    width: 200px;
    margin: 0px;
    float: left;
    margin-top: 10px;
   
}
.semi-circulo {
     width: 200px; 
     height: 50px; 
     position: absolute;
    margin-top: 150px;

     -moz-border-radius: 100px 100px 0 0;
     -webkit-border-radius: 100px 100px 0 0;
     border-radius: 100px 100px 0 0;
}

#producto-nombre{
    margin-top: 230px;
    float: left;
    color: black;
    width: 200px;
    height: 100px;
    text-align: center;
    font-size: 20px;
    position: absolute;
    font-family: "light";

}
#Opciones-GP{
    margin-top: 40px;
    width: 100%;
    display: flex;
     float: left;
    padding: 0px;
}
#mas-p{
    /*background: #F0F0F0;*/
    background-color: #009903;
    border: none;
    border-radius: 5px;
    width: 100px;
    padding-top: 5px;
    padding-bottom: 5px; 
    color: white;
    font-size: 15px;
    margin-right: 0px; 
    
}
#mas-p:hover{
    color: rgb(255, 255, 255);
    background-color: #000661;
    
}